@model IPagedList<LedgerViewModel>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_LedgerTable", Model)
        @Html.PagedListPager(Model, page => Url.Action("ReadYearMonth", new { page }))
    </div>
</div>